/*----------------------------
	Font Import
----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/*----------------------------
	Variables definition
----------------------------*/

/*----------------------------
	General styling
----------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*----------------------------
	Screen reader
----------------------------*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*----------------------------
	Intro component
----------------------------*/

.wrapper {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__overlay--color {
        background-color: hsl(0, 100%, 74%);
        z-index: -1;
    }

    &__main-content {
     padding: 5.5rem 1.5rem 2.5rem 1.5rem;
     display: flex;
     flex-direction: column;
     flex-grow: 1;
     align-items: center;
     justify-content: center;
    }

    &__footer {
        padding: 1rem 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: hsl(0, 0%, 100%);
        font-size: 0.9rem;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        opacity: 0.8;
    }

    &__footer-attribution {
        margin-left: 0rem;
    }

    &__footer-attribution-link {
        color: hsl(248, 32%, 49%);
        font-weight: 600;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.header {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__title {
        padding: 0rem 2rem;
        color: hsla(0, 0%, 100%, 0.95);
        font-size: 1.7rem;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        line-height: 2.3rem;
        opacity: 0.9;
    }

    &__description {
        margin-top: 1.4rem;
        color: hsla(0, 0%, 100%, 0.71);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        line-height: 1.65rem;
    }
}

.trial-claim {
    width: 100%;
    max-width: 35rem;
    margin-top: 3.95rem;
    display: flex;
    flex-direction: column;
    background-color: transparent;

    &__title {
        width: 100%;
        padding: 1.1rem 3.5rem;
        display: block;
        color:hsl(0, 0%, 100%); 
        font-size: 0.9rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        line-height: 1.65rem;
        background-color: hsl(248, 32%, 49%);
        text-align: center;
        border-radius: 0.6rem;
        -webkit-box-shadow: 0px 7px 0px 0px hsla(0, 100%, 15%, 0.2); 
        box-shadow: 0px 7px 0px 0px hsla(0, 100%, 15%, 0.2);
    }

    &__title--color {
        font-weight: 400;
        color:hsla(0, 0%, 100%, 0.770);
    }

    &__form-container{
        width: 100%;
        margin-top: 1.5rem;
        padding: 1.3rem;
        background-color: hsl(0, 0%, 100%);
        text-align: center;
        border-radius: 0.6rem;
        -webkit-box-shadow: 0px 7px 0px 0px hsla(0, 100%, 15%, 0.2); 
        box-shadow: 0px 7px 0px 0px hsla(0, 100%, 15%, 0.2);
    }

    &__form {
        width: 100%;
        margin-bottom: 0.8rem;
        display: flex;
        flex-direction: column;
    }

    &__form-input {
        margin-bottom: 0.95rem;
        padding: 1rem 3rem 1rem 1.5rem;
        color: hsla(249, 10%, 26%, 0.85);
        font-size: 0.9rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        border-radius: 0.3rem;
        border: 0.13rem solid hsl(0, 0%, 93%);
        outline: none;
        transition: border ease-in-out 0.3s;

        &:focus {
            border: 0.13rem solid hsla(248, 32%, 49%, 0.5);
        }

        &::placeholder{
            opacity: 0.8;
        }
    }

    &__form-input--error{
        border: 0.13rem solid hsl(0, 100%, 74%);
        background: url(../images/icon-error.svg);
        background-repeat: no-repeat;
        background-position: right 1rem center;
    }

    &__form-error-message{
        margin-bottom: 0rem;
        text-align: right;
        color: hsl(0, 100%, 74%);
        font-size: 0.7rem;
        font-weight: 500;
        font-style: italic;
        font-family: 'Poppins', sans-serif;
        transition: opacity ease-in-out 0.3s;
    }

    &__form-submit {
        padding: 1.2rem 0.7rem 0.6rem 0.7rem;
        color:hsl(0, 0%, 100%);
        background-color: hsl(154, 59%, 51%);
        font-size: 0.9rem;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        border:none;
        border-radius: 0.3rem;
        -webkit-box-shadow: 0px 4px 0px 0.4px hsla(154, 80%, 33%, 0.7); 
        box-shadow: 0px 4px 0px 0.4px hsla(154, 80%, 33%, 0.7);
        outline: none;
    }

    &__tos {
        padding: 0 1rem;
        margin-bottom: 0.15rem;
        color: hsl(246, 25%, 77%);
        font-size: 0.7rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        line-height: 1.3rem;
    }

    &__tos--red {
        color: hsl(0, 100%, 74%);
        font-weight: 700;
    }
}

/*----------------------------
	Media queries
----------------------------*/ 

@media (min-width: 459px) and (max-width: 1153px) {
    .wrapper{
        background-image: url(../images/bg-intro-desktop.png);

        &__footer {
            padding: 1rem 1.5rem;
            flex-direction: row;
        }

        &__footer-attribution {
            margin-left: 0.3rem;
        }
    } 

}
@media (min-width: 1154px) {
    .wrapper{
        background-image: url(../images/bg-intro-desktop.png);

        &__main-content {
            flex-direction: row;
        }

        &__footer {
            flex-direction: row;
        }

        &__footer-attribution {
            margin-left: 0.3rem;
        }
    }   
    
    .header{
        margin-right: 3.7rem;
        align-items:flex-start;
        text-align: left;

        &__title {
            padding: 0;
            font-size: 3.1rem;
            line-height: 3rem;
        }

        &__description {
            margin-top: 2.3rem;
        }
    }

    .trial-claim {
        min-width: 35rem;
        max-width: 35rem;
        margin-top: 0;
        
        &__form-container{
            padding: 2.5rem;
        }

        &__form {
            margin-bottom: 1rem;
        }

        &__form-input {
            margin-bottom: 0.4rem;
        }

        &__form-error-message {
            margin-bottom: 0.8rem;
        }

        &__form-error-message--active {
            margin-bottom: 1.1rem;
        }

        &__form-submit {
            transition: all ease-in-out 0.3s;
        
            &:hover {
                background-color: hsla(154, 59%, 51%, 0.63);
                -webkit-box-shadow: 0px 4px 0px 0.4px hsla(154, 80%, 33%, 0.57); 
                box-shadow: 0px 4px 0px 0.4px hsla(154, 80%, 33%, 0.57);
                cursor: pointer;
            }
        }
    }   
}
